port: 8080                          # Port for Possel to run on
bind_address: 0.0.0.0               # Address for Possel to bind to (use 0.0.0.0 to listen on all interfaces)
secure: no                          # Enable SSL
certificate: /etc/possel/cert.pem   # Not required if secure is no
database: sqlite:///possel.db       # SQLAlchemy-style database url string. See
                                    # http://peewee.readthedocs.org/en/latest/peewee/playhouse.html#db-url
                                    # for specification